<?xml version="1.0" encoding="utf-8"?>
<ConfigurationService Version="0.1.0.0">
  <ConfigurationObject Name="FolderListPanel">
    <PrimitiveObject Name="InfoPaneHeight" Type="System.Double, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">64</PrimitiveObject>
  </ConfigurationObject>
  <ConfigurationObject Name="Microsoft.Expression.Web.PageAnalysis.Preview.Controls.StateManagers.BrowserManager" />
  <ConfigurationObject Name="Microsoft.Expression.Web.PageAnalysis.Preview.Discovery.BrowserDiscoveryService" />
  <ConfigurationObject Name="Microsoft.Expression.Web.ThemeService.XWebThemeService" />
  <ConfigurationObject Name="Options.NetworkOptions" />
  <ConfigurationObject Name="Options.PreviewSettings" />
  <ConfigurationObject Name="Options.RemotePreviewOptions" />
  <ConfigurationObject Name="PipelineManager" />
  <ConfigurationObject Name="SuperPreviewRemoteState" />
  <ConfigurationObject Name="WindowService">
    <PrimitiveObject Name="Height" Type="System.Double, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">553</PrimitiveObject>
    <PrimitiveObject Name="Left" Type="System.Double, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">175</PrimitiveObject>
    <PrimitiveObject Name="Top" Type="System.Double, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">175</PrimitiveObject>
    <PrimitiveObject Name="Width" Type="System.Double, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">1024</PrimitiveObject>
    <PrimitiveObject Name="WindowState" Type="System.Windows.WindowState, PresentationFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">Maximized</PrimitiveObject>
  </ConfigurationObject>
  <ConfigurationObject Name="WorkspaceConfigurationExtension">
    <ConfigurationObject Name="Designer.modified">
      <ConfigurationObject Name="CommandBars">
        <ConfigurationObjectCollection Name="CommandBars">
          <ConfigurationObject>
            <PrimitiveObject Name="Band" Type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">0</PrimitiveObject>
            <PrimitiveObject Name="BandIndex" Type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">0</PrimitiveObject>
            <PrimitiveObject Name="Name">COMMANDBAR_Common</PrimitiveObject>
            <PrimitiveObject Name="Visibility" Type="System.Windows.Visibility, PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">Visible</PrimitiveObject>
          </ConfigurationObject>
          <ConfigurationObject>
            <PrimitiveObject Name="Band" Type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">1</PrimitiveObject>
            <PrimitiveObject Name="BandIndex" Type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">0</PrimitiveObject>
            <PrimitiveObject Name="Name">COMMANDBAR_Standard</PrimitiveObject>
            <PrimitiveObject Name="Visibility" Type="System.Windows.Visibility, PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">Collapsed</PrimitiveObject>
          </ConfigurationObject>
          <ConfigurationObject>
            <PrimitiveObject Name="Band" Type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">2</PrimitiveObject>
            <PrimitiveObject Name="BandIndex" Type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">0</PrimitiveObject>
            <PrimitiveObject Name="Name">COMMANDBAR_Formatting</PrimitiveObject>
            <PrimitiveObject Name="Visibility" Type="System.Windows.Visibility, PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">Collapsed</PrimitiveObject>
          </ConfigurationObject>
          <ConfigurationObject>
            <PrimitiveObject Name="Band" Type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">3</PrimitiveObject>
            <PrimitiveObject Name="BandIndex" Type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">0</PrimitiveObject>
            <PrimitiveObject Name="Name">COMMANDBAR_MasterPage</PrimitiveObject>
            <PrimitiveObject Name="Visibility" Type="System.Windows.Visibility, PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">Collapsed</PrimitiveObject>
          </ConfigurationObject>
          <ConfigurationObject>
            <PrimitiveObject Name="Band" Type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">4</PrimitiveObject>
            <PrimitiveObject Name="BandIndex" Type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">0</PrimitiveObject>
            <PrimitiveObject Name="Name">COMMANDBAR_Pictures</PrimitiveObject>
            <PrimitiveObject Name="Visibility" Type="System.Windows.Visibility, PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">Collapsed</PrimitiveObject>
          </ConfigurationObject>
          <ConfigurationObject>
            <PrimitiveObject Name="Band" Type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">5</PrimitiveObject>
            <PrimitiveObject Name="BandIndex" Type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">0</PrimitiveObject>
            <PrimitiveObject Name="Name">COMMANDBAR_Positioning</PrimitiveObject>
            <PrimitiveObject Name="Visibility" Type="System.Windows.Visibility, PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">Collapsed</PrimitiveObject>
          </ConfigurationObject>
          <ConfigurationObject>
            <PrimitiveObject Name="Band" Type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">6</PrimitiveObject>
            <PrimitiveObject Name="BandIndex" Type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">0</PrimitiveObject>
            <PrimitiveObject Name="Name">COMMANDBAR_Style</PrimitiveObject>
            <PrimitiveObject Name="Visibility" Type="System.Windows.Visibility, PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">Collapsed</PrimitiveObject>
          </ConfigurationObject>
          <ConfigurationObject>
            <PrimitiveObject Name="Band" Type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">7</PrimitiveObject>
            <PrimitiveObject Name="BandIndex" Type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">0</PrimitiveObject>
            <PrimitiveObject Name="Name">COMMANDBAR_StyleApplication</PrimitiveObject>
            <PrimitiveObject Name="Visibility" Type="System.Windows.Visibility, PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">Collapsed</PrimitiveObject>
          </ConfigurationObject>
          <ConfigurationObject>
            <PrimitiveObject Name="Band" Type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">8</PrimitiveObject>
            <PrimitiveObject Name="BandIndex" Type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">0</PrimitiveObject>
            <PrimitiveObject Name="Name">COMMANDBAR_Tables</PrimitiveObject>
            <PrimitiveObject Name="Visibility" Type="System.Windows.Visibility, PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">Collapsed</PrimitiveObject>
          </ConfigurationObject>
          <ConfigurationObject>
            <PrimitiveObject Name="Band" Type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">9</PrimitiveObject>
            <PrimitiveObject Name="BandIndex" Type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">0</PrimitiveObject>
            <PrimitiveObject Name="Name">COMMANDBAR_CodeView</PrimitiveObject>
            <PrimitiveObject Name="Visibility" Type="System.Windows.Visibility, PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">Collapsed</PrimitiveObject>
          </ConfigurationObject>
          <ConfigurationObject>
            <PrimitiveObject Name="Band" Type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">10</PrimitiveObject>
            <PrimitiveObject Name="BandIndex" Type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">0</PrimitiveObject>
            <PrimitiveObject Name="Name">COMMANDBAR_DynamicWebTemplate</PrimitiveObject>
            <PrimitiveObject Name="Visibility" Type="System.Windows.Visibility, PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">Collapsed</PrimitiveObject>
          </ConfigurationObject>
          <ConfigurationObject>
            <PrimitiveObject Name="Band" Type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">11</PrimitiveObject>
            <PrimitiveObject Name="BandIndex" Type="System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">0</PrimitiveObject>
            <PrimitiveObject Name="Name">Custom</PrimitiveObject>
            <PrimitiveObject Name="Visibility" Type="System.Windows.Visibility, PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">Collapsed</PrimitiveObject>
          </ConfigurationObject>
        </ConfigurationObjectCollection>
      </ConfigurationObject>
      <ConfigurationObject Name="StatusBar">
        <PrimitiveObject Name="Visibility" Type="System.Windows.Visibility, PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">Visible</PrimitiveObject>
      </ConfigurationObject>
    </ConfigurationObject>
  </ConfigurationObject>
  <ConfigurationObject Name="WorkspaceService">
    <PrimitiveObject Name="ActiveWorkspace">Designer</PrimitiveObject>
  </ConfigurationObject>
</ConfigurationService>